<!--user ends up here after logging in-->
<!--pet "lives" here and this will link to feeding, playing, etc-->
<body>
	<div class="sky">
		<div class="stats-container">
			<%= render 'pets/pet_stats' %>
		</div>
		<%= image_tag 'homefence.png', class: 'dogfence' %>
		<%=  image_tag 'housenoshadow.png', class: 'dogsleep' %>
	</div>
	<div class="grass">
		<%= image_tag 'feeding.png', class: 'dogfood' %>
		<%= image_tag 'petting.png', class: 'dogpet' %>
		<%= image_tag 'playing.png', class: 'dogplay' %>
	</div>
</body>